/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)

*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body, html {
  line-height: 1;
  overflow-x: hidden;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.Vasaros h1 {
  font-size: 25px;
  margin-top: 20px;
  font-family: "Palanquin Dark bold";
  text-align: center;
  background-color: #ffc003;
  padding: 20px;
  color: #fff;
}

.Vasaros .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

.Vasaros .cards .items {
  margin: 30px 5px;
  width: 250px;
  height: 150px;
  background-color: #ffc003;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Vasaros .cards .items h3 {
  color: #fff;
  font-size: 20px;
  font-family: "Palanquin Dark semibold";
  line-height: 28px;
  text-align: center;
  letter-spacing: 1px;
}

.komanda h2 {
  font-size: 22px;
  margin-top: 20px;
  font-family: "Palanquin Dark bold";
  text-align: center;
  background-color: #ffc003;
  padding: 20px;
  color: #fff;
}

.komanda .inner {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 22px 0 22px;
}

.komanda .inner .ko-items {
  margin: 20px 0;
  color: #000;
}

.komanda .inner .ko-items h4 {
  text-align: center;
  font-family: "Palanquin Dark regular";
  font-size: 20px;
  line-height: 35px;
}

.komanda .apie .apie-inner {
  margin: 30px 10px;
}

.komanda .apie .apie-inner a {
  color: #000;
}

.komanda .apie .apie-inner p {
  font-size: 16px;
  font-family: "Palanquin Dark regular";
  line-height: 25px;
}

.komanda .apie .apie-inner p span {
  font-size: 20px;
  font-size: "Palanquin Dark semibold";
  text-decoration: underline;
}

.stovyklaviete {
  margin-bottom: 150px;
}

.stovyklaviete h2 {
  font-size: 22px;
  margin-top: 20px;
  font-family: "Palanquin Dark bold";
  text-align: center;
  background-color: #ffc003;
  padding: 20px;
  color: #fff;
  line-height: 30px;
}

.stovyklaviete .stovy-inner {
  margin: 20px 10px;
}

.stovyklaviete .stovy-inner img {
  margin: 10px 0;
}

@media (min-width: 568px) and (max-width: 568px) {
  .Vasaros .cards .items {
    margin: 30px 5px;
    width: 103px;
    height: 70px;
  }
  .Vasaros .cards .items h3 {
    font-size: 14px;
    line-height: 16px;
  }
  .komanda .inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .komanda .inner .ko-items {
    margin: 0 6px;
  }
  .komanda .inner .ko-items h4 {
    line-height: 15px;
  }
}

@media (min-width: 667px) and (max-width: 667px) {
  .Vasaros .cards .items {
    margin: 30px 5px;
    width: 118px;
    height: 70px;
  }
  .Vasaros .cards .items h3 {
    font-size: 16px;
    line-height: 24px;
  }
  .komanda .inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .komanda .inner .ko-items {
    margin: 10px 6px;
    width: 20%;
  }
  .komanda .inner .ko-items h4 {
    line-height: 15px;
    font-size: 16px;
  }
  .stovyklaviete .stovy-inner {
    padding: 5px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .stovyklaviete .stovy-inner img {
    width: 21%;
    margin: 0 9px;
  }
}

@media (min-width: 736px) and (max-width: 736px) {
  .Vasaros .cards .items {
    margin: 30px 5px;
    width: 134px;
    height: 86px;
  }
  .Vasaros .cards .items h3 {
    font-size: 16px;
    line-height: 24px;
  }
  .komanda .inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .komanda .inner .ko-items {
    margin: 10px 4px;
    width: 20%;
  }
  .komanda .inner .ko-items h4 {
    line-height: 15px;
    font-size: 16px;
  }
  .stovyklaviete .stovy-inner {
    padding: 5px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .stovyklaviete .stovy-inner img {
    width: 22%;
    margin: 0 9px;
  }
}

@media (min-width: 768px) {
  .Vasaros .cards .items {
    margin: 30px 8px;
    width: 136px;
    height: 94px;
  }
  .komanda .inner {
    margin: 20px 10px 0 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .komanda .inner .ko-items {
    width: 21%;
    margin: 20px 7px;
  }
  .komanda .inner .ko-items h4 {
    font-size: 22px;
  }
  .stovyklaviete .stovy-inner {
    padding: 5px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .stovyklaviete .stovy-inner img {
    width: 22%;
    margin: 0 9px;
  }
}

@media (min-width: 992px) {
  .Vasaros .cards {
    padding: 50px 0;
  }
  .Vasaros .cards .items {
    margin: 30px 12px;
    width: 178px;
    height: 120px;
  }
  .Vasaros .cards .items h3 {
    font-size: 26px;
  }
  .komanda .inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 50px 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .komanda .inner .ko-items {
    margin: 10px 10px;
    width: 12%;
  }
  .komanda .inner .ko-items img {
    width: 100%;
  }
  .komanda .inner .ko-items h4 {
    font-size: 22px;
  }
  .stovyklaviete .stovy-inner {
    padding: 5px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 20px -5px;
  }
  .stovyklaviete .stovy-inner img {
    width: 23%;
    margin: 0 9px;
  }
}

@media (min-width: 1200px) {
  .Vasaros h1 {
    font-size: 80px;
  }
  .Vasaros .cards .items {
    margin: 30px 12px;
    width: 230px;
    height: 120px;
  }
  .Vasaros .cards .items h3 {
    font-size: 30px;
    line-height: 30px;
  }
  .komanda h2 {
    font-size: 50px;
  }
  .komanda h4 {
    font-size: 16px;
  }
  .stovyklaviete h2 {
    font-size: 50px;
  }
  .stovyklaviete .stovy-inner {
    margin: 20px -20px;
  }
}

@media (min-width: 1440px) {
  .Vasaros .cards .items {
    margin: 30px 12px;
    width: 260px;
    height: 120px;
  }
}
/*# sourceMappingURL=style.css.map */